/*
*  This stylesheet can be modified, but you have to know the css language.
*  Main colors can be modified in the "user.css" file.
*
*  @author: iKlem <iklem.d@gmail.com>
*  @version: 1.1.1
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* MAIN CSS */
body {
  opacity: 0;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #000000;
  overflow: hidden;
}
#break {
  width: 0;
  height: 0;
  margin: 50px 0px 0px 0px;
  font-size: 0;
  clear: both;

}
#noBorder {
  border:0px;
}
#container {
  margin-top: 10%;
}
#versionNo {
  position: relative;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
/* --- */

/* PROGRESS BARS */
#loadBar {
  position: relative;
  content: "";
  width: 85%;
  height: 8px;
  margin: 13px auto;
  border-radius: 10px;
}
#loadBar-width {
  position: absolute;
  content: "";
  top: 0px;
  width: 0%;
  height: 8px;
  border-radius: 10px;
  visibility: hidden;
}
#loadBar::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #939393;
}
#loadBar::-webkit-progress-value {
  border-radius: 10px;
  background-color: black;
}
#spinner {
  z-index: 3;
  width : 40px;
  height : 40px;
  margin: 15px auto;
  border : 2px solid #5882FA;
  border-left-color : transparent;
  border-right-color : transparent;
  border-radius : 50%;
  animation : spin 2s infinite;
  -webkit-animation : spin 2s infinite;
}
#status {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
/* --- */

/* BOTH PANELS */
#leftPanel, #rightPanel {
  position: relative;
  z-index: 2;
  width: 47%;
}

/* LEFT PANEL */
#leftPanel {
  float: left;
  margin: 2% 0px 2% 2%;
  box-shadow: 4px 4px 15px #6e6e6e;
  font-size: 20px;
  background-color: white;
}
h1 {
  margin: 0px;
  height: 80px;
  font-size: 2.5em;
}
#nbFiles, #stateLoad,  #gameMode, #map, #imgLeft, #imgLoad {
  margin: 0;
  height: 90px;
  padding: 5px;
  border-bottom: 1px solid #b8b8b8;
  line-height: 90px;
}
#imgLeft, #imgLoad {
  float: left;
  width: 90px;
  padding: 5px;
  border-right: 1px solid #b8b8b8;
}
#stateLoad, #nbFiles {
  font-weight: bold;
  line-height: 40px;
}
#progressInfo, #progressInfoWS {
  display: block;
  text-align: right;
  font-size: 15px;
  line-height: 17px;
}
#nbFiles {
  border: none;
  height: 60px;
}
#stateLoad {
	font-size: 25px;
	line-height: auto;
}
/* --- */

/* RIGHT PANELS */
#rightPanel {
  float: right;
  margin: 2% 2% 2% 0px;
}
#serverBanner, #serverInfo {
  position: relative;
  z-index: 2;
  height: 180px;
  font-size: 20px;
}
#serverBanner img {
  width: 100%;
  height: 181px;
}
#serverInfo {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: transparent;
  box-shadow: none;
  opacity: 0;
  color: black;
  font-size: 30px;
  z-index: 1;
}

#rules {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 280px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 4px 4px 15px #6e6e6e;
}
#rules h1 {
  height: 60px;
}
#rules p {
  font-size: 17px;
  line-height: 25px;
  margin: 10px;
  text-align: left;
}

#musicContainer, #musicPlayer, #musicTitle {
  margin: 0px;
  padding: 2px;
  z-index: 2;
}
#musicContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 4;
  opacity: 0.7;
  width: auto;
  border-radius: 20px;
  background-color: white;
}
#musicTitle {
  margin: 5px;
  text-align: left;
}
/* --- */

/* CSS ANIMATION */
.walk {
  -webkit-animation-name: walk;
  -webkit-animation-duration: 5.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-perspective: 6000px;
  text-align: center;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  border: 2px solid #999;
}

@-webkit-keyframes walk {
  0%
  {
    -webkit-transform: rotateZ(0deg);
  }

  50%
  {
    -webkit-transform: rotateZ(180deg);
  }

  100%
  {
    -webkit-transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin {
  0% {-webkit-transform : rotate(0deg);}
  50% {-webkit-transform : rotate(360deg);}
  100% {-webkit-transform : rotate(0deg);}
}

@keyframes spin {
  0% {-webkit-transform : rotate(0deg);transform : rotate(0deg);}
  50% {-webkit-transform : rotate(360deg);transform : rotate(360deg);}
  100% {-webkit-transform : rotate(0deg);transform : rotate(0deg);}
}
