/*
*  @author: iKlem <iklem.d@gmail.com>
*  @version: 1.0
*/

/* Change the background image and color. */
body {
    background: #CCCCCC url("img/bg.jpg");
}

/* Change the background color of the left panel */
header {
    background: #FFFFFF;
}

/* Change the backgrounds color of the title "SERVER NAME" and "RULES" */
h1, #player {
    color: white;
    background-color: #045FB4;
}

/* SVG COLORATION - dl.svg */
#dlSVG {
    fill: #176BAA;
    stroke: black;
    stroke-width: 1px;
}

/* SVG COLORATION - Gmod logo
 * Uncomment what you need and don't forget to comment the other one
 */
/* With stroke */
/*#square {
    fill: #045FB4;
    stroke: black;
    stroke-width: 1px;
}*/
/* Without stroke */
#square {
    fill: #045FB4;
    stroke: none;
    stroke-width: 0px;
}

#G {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

/* Change the background color of the back bar */
#loadBar {
    background-color: #939393;
}

/* Change the background color of the bar*/
#loadBar-width {
    background-color: black;
}
